{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'product/style.css' %}">  
<title>Document</title>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gytters align-items-center">
                        <div class="column">
                            <input type="search" name="item_name" placeholder="Search for Product" class="form-control form-control-borderless " >
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
         
        <div class="row">
            {% for Product in products_object %}
            <div class="col-md-3">
                <div class="card">
                  <img src="{{Product.image}}" class="card-img-top">  
                  <div class="card-body">
                    <div class="card-title">
                         {{ Product.title }}
                    </div>
                    <div class="card-text">
                        Rs {{Product.price}}
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>




   
