{% extends "shop/base.html" %}

{%block title %}Thrift Store - Signup{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="card shadow p-4" style="width: 380px;">
        <h3 class="text-center mb-4">Create Account</h3>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary w-100 mt-3">Sign Up</button>

            <div class="text-center mt-3">
                <span>Already have an account? 
                    <a href="{% url 'checkout' %}?login=true" class="text-decoration-none">
                        Login here
                    </a>
                </span>
            </div>
        </form>

    </div>
</div>
{% endblock %}